<div class="container">
    <div class="row">
        <div class="col">
            <ul class="timeline">
                {{#each articles}}
                <li>
                    <div class="card">
                        <div class="card-body">
                            <img src="{{this.image}}" width="200" height="200" class="img-thumbnail float-left mr-2" />
                            <a target="_blank" href="{{this.url}}">{{this.headline}}</a>
                            <a href="#" class="float-right">{{dateFormat this.createdAt "dddd, MMMM Do YYYY,
                                h:mm:ss
                                a"}}</a>
                            <p>{{this.summary}}</p>
                            <a data-toggle="collapse" class="h6 float-right" href="#Comments_{{this._id}}">Show
                                Comments <i class="far fa-comment"></i></a>
                            <div id="Comments_{{this._id}}" class="collapse">
                                <form id="PostComment_{{this._id}}">
                                    <input type="hidden" id="articleId" value="{{this._id}}" />
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="comment_{{this._id}}" placeholder="Comments">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="submit"><i class="fas fa-reply"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="list-group" id="CommentsOf_{{this._id}}">
                                    {{#each this.comments}}
                                    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h6 class="mb-1">{{this.user.email}}</h6>
                                            <small>{{dateFormat this.createdAt "dddd, MMMM Do YYYY,
                                                h:mm:ss a"}}</small>
                                        </div>
                                        <p class="mb-1 h4">{{this.body}}</p>
                                    </div>
                                    {{/each}}
                                    <div href="#" id="commentSample" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">&nbsp;</h5>
                                            <small>{{date}}</small>
                                        </div>
                                        <p class="mb-1">{{comment}}</p>
                                        <small>{{email}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col align-self-center text-center">
            <button id="scrapeMore" class="btn btn-outline-success">Scrape More</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        $('#scrapeMore').on('click', () => {
            $.ajax({
                method: 'POST',
                url: '/scrape'
            }).done(() => {
                setTimeout(()=> {
                    location.reload();
                }, 2500);
            }).fail(() => {
                toastr.error('Something went wrong.');
            });
        });
        $('form').each((index, element) => {
            $(element).submit((e) => {
                e.preventDefault();
                var articleId = $(e.target).children('#articleId').val();
                var commentInput = $('#comment_' + articleId);
                var comment = commentInput.val();
                if (!comment) {
                    toastr.error('Please type a comment before submitting.');
                    return;
                }
                $.ajax({
                    method: 'POST',
                    url: '/users/postcomment',
                    data: JSON.stringify({ body: comment, articleId: articleId }),
                    dataType: 'JSON',
                    contentType: 'application/json'
                }).done((comment) => {
                    commentInput.val('');
                    console.log(comment);
                    var sample = $('#commentSample').clone().removeClass('hide');
                    var edit = sample.html();
                    edit = edit.replace('{{comment}}', comment.body).replace('{{date}}', comment.createdAt).replace('{{email}}', '');
                    $('#CommentsOf_' + articleId).append(edit);
                }).fail(() => {
                    toastr.error('There was a problem while saving your comment');
                });
            });
        });
    });
</script>